g2p/model-6 filter=lfs diff=lfs merge=lfs -text
lm_dir/en-us.lm.dmp filter=lfs diff=lfs merge=lfs -text
acoustic_dir/htkpenn16kplp/hmmdefs filter=lfs diff=lfs merge=lfs -text
acoustic_dir/htkpenn16kplp/macros filter=lfs diff=lfs merge=lfs -text
acoustic_dir/htkpenn16kplp/config filter=lfs diff=lfs merge=lfs -text
acoustic_dir/htkpenn16kplp/config.yaml filter=lfs diff=lfs merge=lfs -text
acoustic_dir/htkpenn8kplp/macros filter=lfs diff=lfs merge=lfs -text
acoustic_dir/htkpenn8kplp/config filter=lfs diff=lfs merge=lfs -text
acoustic_dir/htkpenn8kplp/config.yaml filter=lfs diff=lfs merge=lfs -text
acoustic_dir/htkpenn8kplp/hmmdefs filter=lfs diff=lfs merge=lfs -text
acoustic_dir/sphinx-8/feat.params filter=lfs diff=lfs merge=lfs -text
acoustic_dir/sphinx-8/feature_transform filter=lfs diff=lfs merge=lfs -text
acoustic_dir/sphinx-8/mixture_weights filter=lfs diff=lfs merge=lfs -text
acoustic_dir/sphinx-8/noisedict filter=lfs diff=lfs merge=lfs -text
acoustic_dir/sphinx-8/variances filter=lfs diff=lfs merge=lfs -text
acoustic_dir/sphinx-8/mdef filter=lfs diff=lfs merge=lfs -text
acoustic_dir/sphinx-8/means filter=lfs diff=lfs merge=lfs -text
acoustic_dir/sphinx-8/README filter=lfs diff=lfs merge=lfs -text
acoustic_dir/sphinx-8/transition_matrices filter=lfs diff=lfs merge=lfs -text
acoustic_dir/sphinx-16/means filter=lfs diff=lfs merge=lfs -text
acoustic_dir/sphinx-16/variances filter=lfs diff=lfs merge=lfs -text
acoustic_dir/sphinx-16/transition_matrices filter=lfs diff=lfs merge=lfs -text
acoustic_dir/sphinx-16/feat.params filter=lfs diff=lfs merge=lfs -text
acoustic_dir/sphinx-16/feature_transform filter=lfs diff=lfs merge=lfs -text
acoustic_dir/sphinx-16/mdef filter=lfs diff=lfs merge=lfs -text
acoustic_dir/sphinx-16/mixture_weights filter=lfs diff=lfs merge=lfs -text
acoustic_dir/sphinx-16/noisedict filter=lfs diff=lfs merge=lfs -text
acoustic_dir/sphinx-16/README filter=lfs diff=lfs merge=lfs -text
montreal-forced-aligner filter=lfs diff=lfs merge=lfs -text
montreal-forced-aligner/bin/mfa_align filter=lfs diff=lfs merge=lfs -text
montreal-forced-aligner/bin/mfa_generate_dictionary filter=lfs diff=lfs merge=lfs -text
montreal-forced-aligner/bin/mfa_train_and_align filter=lfs diff=lfs merge=lfs -text
montreal-forced-aligner/bin/mfa_train_g2p filter=lfs diff=lfs merge=lfs -text
