$def with (form, speakerform)

<div class="container">

  <h2>Automated Vowel Extraction with Manual Transcriptions and Utterance Boundaries</h2>

<p class="lead">Upload your audio files and manual transcriptions
  (with sentence boundaries annotated <a href="semi#boundinst">as described here</a>) to run
  forced alignment followed by formant extraction.</p>

<p><a href="uploadbound"><small>Click here at any time to cancel or start over.</small></a></p>

<form name="uploadbound" method="post" enctype="multipart/form-data">
$if not form.valid: <p class="alert alert-danger">Correct the errors below.</p>
$if not speakerform:
     $:form.render()
</form>

  $if speakerform:
        $:form.render_disabled()
	<h3>Enter speaker information</h3>
	<span class="note">Does not affect the automatic transcription, but required for vowel extraction results.</span><p>
	<form action="pipeline" name="pipeline" method="post" onsubmit="progress()">
	$if not speakerform.valid: <p class="alert alert-danger">Correct the errors below.</p>
	$:speakerform.render()
	<input type="submit" />
	</form>
	<div id="loading" style="display: none;">
	  <span class="note">Task processing. You may now close this window and we will email you the results.</span>
	  <img src="/static/images/ajax-loader.gif"></img>
	</div>
	<br>

</div>
