<div class="container">
  
<h2> Citing DARLA and its components</h2> 
<p>DARLA is designed and implemented by <a
  href="http://cs.wellesley.edu/~sravana/">Sravana Reddy</a> and <a
  href="http://linguistics.dartmouth.edu/people/james-n-stanford">James
  Stanford</a>, with programming assistance from Irene Feng, and is
  supported by the <a href="http://neukom.dartmouth.edu"
  target="_blank">Neukom Institute for Computational Science</a>.</p>

    <p>We can be reached at <a href="mailto:darla.dartmouth@gmail.com">darla.dartmouth@gmail.com</a>.</p>

<p>Suggested in-text citation for the completely automated functions:
DARLA (Reddy & Stanford 2015), using Prosodylab-Aligner (Gorman et
al. 2011), FAVE-Extract (Rosenfelder et al. 2014),
the Vowels R package (Kendall & Thomas 2010),
and the Google Speech API (https://cloud.google.com/speech)</p>

<p>Suggested in-text citation for the semi-automated functions:
FAVE-Extract (Rosenfelder et al. 2014) and Prosodylab-Aligner (Gorman
et al. 2011) using the DARLA web interface (Reddy & Stanford 2015) and the Vowels R package
(Kendall & Thomas 2010).</p>

<h3>Bibliographic entries:</h3>

<ul>
  <li>Gorman, Kyle, Jonathan Howell and Michael Wagner. 2011. Prosodylab-Aligner: A Tool for Forced Alignment of Laboratory Speech. Canadian Acoustics. 39.3. 192–193.

<li>Kendall, Tyler and Erik R. Thomas. 2010. Vowels: vowel manipulation, normalization, and 
  plotting in R. R package. <a href="http://cran.r-project.org/web/packages/vowels/index.html" target="_blank">cran.r-project.org/web/packages/vowels/index.html</a>.

  <li>Reddy, Sravana and James Stanford. 2015. <a href="http://www.degruyter.com/view/j/lingvan.ahead-of-print/lingvan-2015-0002/lingvan-2015-0002.xml">Toward completely automated vowel extraction: 
  Introducing DARLA.</a> <i>Linguistics Vanguard</i>. 

<li>Rosenfelder, Ingrid; Fruehwald, Josef; Evanini, Keelan; Seyfarth,
  Scott; Gorman, Kyle; Prichard, Hilary; Yuan, Jiahong; 2014. FAVE
  (Forced Alignment and Vowel Extraction) Program Suite v1.2.2
  10.5281/zenodo.22281. 
</ul>
</p>

<p>In addition, if you use the <a
href="http://lvc.uoregon.edu/norm/about_norm1.php"
target="_blank">NORM online interface</a> for custom normalization and plotting of the vowel space, please also cite:</p>

<ul>
<li>Thomas, Erik R. and Tyler Kendall. 2007. NORM: The vowel normalization and plotting suite. Online Resource. <a href="http://lvc.uoregon.edu/norm/index.php" target="_blank">lvc.uoregon.edu/norm/index.php</a>
</ul>

</div>
