<div class="container">

<h2> Citing DARLA and its components</h2>
<p>DARLA is designed and implemented by <a
  href="https://sravanareddy.github.io">Sravana Reddy</a> and <a
  href="http://linguistics.dartmouth.edu/people/james-n-stanford">James
  Stanford</a>, with programming assistance from <a
  href="http://irenefeng.com">Irene Feng</a>, and is
  supported by the <a href="http://neukom.dartmouth.edu"
  target="_blank">Neukom Institute for Computational Science</a>.
  We can be reached at <a href="mailto:darla.dartmouth@gmail.com">darla.dartmouth@gmail.com</a>. 
  Bed Word is designed by Marcus Ma (<a href="mailto:mma81@gatech.edu">mma81@gatech.edu</a>).</p>

<p>Please cite us if you use DARLA in research publications.</p>

<p>Suggested in-text citation for the completely automated functions:
DARLA (Reddy & Stanford 2015), using the Montreal Forced Aligner (McAuliffe et
al. 2017), FAVE-Extract (Rosenfelder et al. 2014), and
the Vowels R package (Kendall & Thomas 2010).</p>

<p>Suggested in-text citation for the semi-automated functions:
FAVE-Extract (Rosenfelder et al. 2014) and Montreal Forced Aligner (McAuliffe
et al. 2017) using the DARLA web interface (Reddy & Stanford 2015) and the Vowels R package
(Kendall & Thomas 2010).</p>

<h3>Bibliographic entries:</h3>

<ul>
  <li>Reddy, Sravana and James Stanford. 2015.
    <a href="http://www.aclweb.org/anthology/N15-3015">A Web Application for Automated Dialect Analysis.</a>
    In <i>Proceedings of NAACL-HLT 2015</i>.

<li>McAuliffe, Michael, Michaela Socolof, Sarah Mihuc, Michael Wagner, and Morgan Sonderegger.
  2017.
  Montreal Forced Aligner: trainable text-speech alignment using Kaldi.
  In <em>Proceedings of the 18th Conference of the International Speech Communication Association</em>.

<li>Kendall, Tyler and Erik R. Thomas. 2010. Vowels: vowel manipulation, normalization, and
  plotting in R. R package. <a href="http://cran.r-project.org/web/packages/vowels/index.html" target="_blank">cran.r-project.org/web/packages/vowels/index.html</a>.

<li>Rosenfelder, Ingrid; Fruehwald, Josef; Evanini, Keelan; Seyfarth,
  Scott; Gorman, Kyle; Prichard, Hilary; Yuan, Jiahong; 2014. FAVE
  (Forced Alignment and Vowel Extraction) Program Suite v1.2.2
  10.5281/zenodo.22281.
</ul>
</p>

<p>In addition, if you use the <a
href="http://lingtools.uoregon.edu/norm/"
target="_blank">NORM online interface</a> for custom normalization and plotting of the vowel space, please also cite:</p>

<ul>
<li>Thomas, Erik R. and Tyler Kendall. 2007. NORM: The vowel normalization and plotting suite. Online Resource. <a href="http://lvc.uoregon.edu/norm/index.php" target="_blank">lvc.uoregon.edu/norm/index.php</a>
</ul>

</div>
