$def with (form)
<div class="container">

<h2>Survey</h2><p><p>

<p class="lead">
  <ul>
    <li>
To participate in this survey,
you must be over 18 years old and have spent most of your childhood in one of
these states: Vermont, New Hampshire, Maine, Connecticut, Rhode Island, or Massachusetts.</li>
	<li>Please answer a few questions about yourself and then record yourself reading 3 passages out loud.</li>
	<li>You must complete <em>all</em> of the questions in the survey.
</ul>
</p>

<p><span class="formrequired">*</span> denotes questions with required responses.</p>

<form action="mturk" name="mturk" method="post" enctype="multipart/form-data">
$if not form.valid: <p class="alert alert-warning">Correct the errors below. Please make sure you have submitted all the required information.</p>
$:form.render_list()
</form>

</div>
