$def with (form, speakerform)

<div class="container">

<h2>Completely Automated Vowel Extraction with Transcriptions from YouTube Closed Captioning: Upload</h2><p><p>

<p class="lead">Upload your audio file to get automated
  ASR from YouTube, followed by automated alignment and extraction.
 <p>

<a href="uploadyt"><small>Click here at any time to cancel or start over.</small></a><p>

<form name="uploadyt" method="post" enctype="multipart/form-data"> 
  $if not form.valid: <p class="alert alert-danger">Correct the errors below.</p>
  $if not speakerform:
     $:form.render()
</form>

	<br>

</div>

