$def with (form, speakerform)

<div class="left-col">

<span class="breadcrumbs"><a href="/"  target="_blank">Darla
  Home</a></span>
<span class="breadcrumbs"><a href="semi"
  target="_blank">Semiautomated Home</a></span> 
<span class="breadcrumbs"><a href="/#cite" target="_blank">How to Cite</a></span>
<script src="/static/js/speakerInfo.js"></script>
<script src="/static/js/progress.js"></script>


<h2>Completely Automated Vowel Extraction with Transcriptions from
  YouTube Closed Captioning: Alignment and Extraction</h2><p><p>

<span class="note">Enter your taskname and video ID to check whether
  YouTube has generated ASR transcriptions. (Allow 4-5 hours after
  your sound upload). If transcriptions are available, we will
  automatically access them and run
  forced alignment using ProsodyLab Aligner, followed by formant extraction with FAVE-extract. </span><p>

<a href="downloadsrttrans"><small>Click here at any time to cancel or start over.</small></a><p>

<form name="downloadsrttrans" method="post" enctype="multipart/form-data"> 
  $if not form.valid: <p class="error">Correct the errors below.</p>
  $if not speakerform:
  $:form.render()
  </form>
  <span class="note">Please stay on this page while we try to download
  the captions from YouTube</span>
  
  $if speakerform:
        $:form.render_disabled()
	<h3>Enter speaker information</h3>
	<span class="note">Does not affect the automatic transcription, but required for vowel extraction results.</span><p>
	<form action="alignextract" name="alignextract" method="post" onsubmit="progress()">
	$if not speakerform.valid: <p class="error">Correct the errors below.</p>
	$:speakerform.render()
	<input type="submit" />
	</form>

	<br>

</div>

