$def with (form, speakerform)

<div class="left-col">

<span class="breadcrumbs"><a href="http://darla.dartmouth.edu" target="_blank">About DARLA</a></span>
<span class="breadcrumbs"><a href="http://darla.dartmouth.edu#cite" target="_blank">How to cite</a></span><p>
<script src="/static/js/speakerInfo.js"></script>

<h2>Completely Automated Vowel Extraction</h2><p><p>

<a href="uploadsound"><small>Click here at any time to cancel or start over.</small></a><p>

<form name="uploadsound" method="post" enctype="multipart/form-data"> 
$if not form.valid: <p class="error">Correct the errors below.</p>
$:form.render_disabled()
</form>

$if speakerform:
	<h3>Enter speaker information</h3>
	<span class="note">Does not affect the automatic transcription, but required for vowel extraction results.</span><p>
	<form action="allpipeline" name="allpipeline" method="post">
	$if not speakerform.valid: <p class="error">Correct the errors below.</p>
	$:speakerform.render()
	<input type="submit" />
	</form>

</div>

