$def with (form, speakerform)

<div class="container">

<h2>Automated Alignment and Vowel Extraction with Manual
  Transcriptions</h2>

<p class="lead">Upload your audio files with manual transcriptions
  to run
  forced alignment using ProsodyLab Aligner, followed by formant extraction with FAVE-extract. </p>

<p class="alert alert-warning">Please be sure that your transcriptions are in plain text, with no special characters and preferably no punctuation, <a href="semi#txtinst">as described here</a>.
DARLA tries to handle these cases, but you will reduce the chance of errors if you clean up your
files as described.
</p>

  <p>
<a href="upload/txtalign"><small>Click here at any time to cancel or start over.</small></a></p>

<form name="upload/txtalign" method="post" enctype="multipart/form-data">
  $if not form.valid: <p class="alert alert-danger">Correct the errors below.</p>
  $if not speakerform:
     $:form.render()
</form>

  $if speakerform:
        $:form.render_disabled()
	<h3>Enter speaker information</h3>
	<span class="note">Does not affect the automatic transcription, but required for vowel extraction results.</span><p>
	<form action="/pipeline" name="pipeline" method="post" onsubmit="progress()">
	$if not speakerform.valid: <p class="alert alert-danger">Correct the errors below.</p>
	$:speakerform.render()
	<input type="submit" />
	</form>
	<div id="loading" style="display: none;">
	  <span class="note">Task processing. You may now close this window and we will email you the results.</span>
	<img src="/static/images/ajax-loader.gif"></img>
	</div>
	<br>

</div>
